﻿@{
    ViewBag.SiteTitle = "Site Rank Search Application: Herbert Fabillar";
}
<!DOCTYPE html>
<html ng-app="siteRankApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.SiteTitle</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")

    @Styles.Render("~/Content/css")
    @*@Styles.Render("~/Content/themes/base/css")*@

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*<header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">
                    <a href="~/">ASP.NET Web API</a></p>
            </div>
            <div class="float-right">
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>*@
    @RenderBody()

    
    
    @RenderSection("scripts", required: false)
</body>
</html>
