﻿.appBody {
    width: 100%;
    margin: 10px 5px 0px 5px;
}

.loader-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #666666; 
    z-index: 30001; 
    opacity: .8; 
    filter: alpha(opacity=70); 
    /*display: none;*/
    text-align: center;
}

.loader {
    position: relative;
    top: 10%;
    left: 50%;
    /*margin-top: -50px;
    margin-left: -50px;*/
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.result {
    margin-top: 15px;
}

.resultHeader {
    background-color: #FF8A1A;
    color: #ffffff;
}