﻿<div class="col-md-12 appBody" data-ng-controller="SiteSearchController">
    <div class="loader-container" data-ng-show="loading">
        <div class="loader"></div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Site Rank Search Criteria</h4>
        </div>
        <div class="panel-body">
            <div class="form form-horizontal">
                <div class="form-group">
                    <label for="siteName" class="col-md-3 control-label">Website URL/Name</label>
                    <div class="col-md-4">
                        <input type="text" id="siteName" class="form-control" data-ng-model="searchModel.siteName"
                            placeholder="www.example.com or example"
                            data-ng-keyup="$event.keyCode == 13 && searchRanking()" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="dateFrom" class="col-md-3 control-label">Date From</label>
                    <div class="col-md-2">
                        <input type="date" id="dateFrom" class="form-control" data-ng-model="searchModel.dateFrom" data-ng-keyup="$event.keyCode == 13 && searchRanking()" />
                    </div>
                    <label for="dateTo" class="col-md-2 control-label">Date To</label>
                    <div class="col-md-2">
                        <input type="date" id="dateTo" class="form-control" data-ng-model="searchModel.dateTo" data-ng-keyup="$event.keyCode == 13 && searchRanking()" />
                    </div>
                </div>
                <div class="form-group">
                    <label for="reportType" class="col-md-3 control-label">Top Sites (based on visits)</label>
                    <div class="col-md-2">
                        <select id="reportType" class="form-control" data-ng-model="searchModel.type" data-ng-change="searchRanking()">
                            <option value="0" selected>All</option>
                            <option value="5">Top 5</option>
                            <option value="10">Top 10</option>
                            <option value="30">Top 30</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2">&nbsp;</div>
                    <div class="col-md-5">
                        <input type="button" class="btn btn-primary" id="btnSearch" value="Search" data-ng-click="searchRanking()" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="input-group" style="width: 9%;">
        <span class="glyphicon glyphicon-th-list input-group-addon"></span>
        <select id="tablePageSize" class="form-control" data-ng-model="pageSize" data-ng-change="numberOfPages()">
            <option value="5" selected>5</option>
            <option value="10">10</option>
            <option value="20">20</option>
        </select>
    </div>

    <div class="result">
        <table id="resultTable" class="table table-striped table-condensed">
            <colgroup>
                <col style="width: 10%;" />
                <col style="width: 40%;" />
                <col style="width: 25%;" />
                <col style="width: 25%;" />
            </colgroup>
            <thead class="resultHeader">
                <tr >
                    <th>Rank</th>
                    <th>Website</th>
                    <th>No. of Visits <span data-ng-class="{'glyphicon glyphicon-chevron-down': ranking == 'down', 'glyphicon glyphicon-chevron-up': ranking =='up'}"
                        data-ng-click="changeRanking()"></span>
                    </th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="site in sites | 
                                    pagination: curPage * pageSize | limitTo: pageSize">
                    <td>{{site.rank}}</td>
                    <td>{{site.siteName}}</td>
                    <td>{{site.visits | number}}</td>
                    <td>{{site.date}}</td>
                </tr>
            </tbody>
            <tr data-ng-show="sites.length <= 0">
                <td colspan="2">No records to show.</td>
            </tr>
            <tr>
                <td colspan="4">
                    <nav style="text-align:center;" data-ng-show="sites.length">
                        <ul class="pager">
                            <li>
                                <input type="button" class="btn btn-primary" data-ng-disabled="curPage == 0"
                                    data-ng-click="curPage=curPage-1" value="&lt; Previous"/>
                            </li>
                            <li id="pageInfo">
                                <span>Page {{curPage + 1}} of {{ numberOfPages() }}</span>
                            </li>
                            <li>
                                <input type="button" class="btn btn-primary"
                                    data-ng-disabled="curPage >= sites.length/pageSize - 1"
                                    data-ng-click="curPage = curPage+1" value="Next &gt;" />
                            </li>
                        </ul>
                    </nav>
                </td>
            </tr>
        </table>
    </div>
</div>

<script>
    $(function () {
        $('#reportType').val(0);
        $('#tablePageSize').val(5);
    });
</script>
